
# Dependency directories
node_modules/

# dotenv environment variables file
.env.back
.env.test

BACK/certificat/key.pem
BACK/certificat/cert.pem
BACK/certificat/readme.txt

BACK/logs/combined.log
BACK/logs/error.log


Exemple_detail_produit.ods
lien.odt